.App {
  background-color: #f8f5f2;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  padding: 20px;
  font-family: 'Courier New', monospace;
  font-size:30px;
  font-weight: 500;
  text-align: center;
  background: #55423d;
  color: #fff;
}

.header {
  flex: 0 0 50px;
}

.panels1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-color: #0e172c;
  border-width: 10px;
}

.innerText{
  margin-top:0%;
  font-weight:400;
  color:white;
  line-height: normal;
}

.list{
  margin-top:24px;
}

.panel1 {
  width: calc(28% - 40px);
  font-family: 'Courier New', monospace;
  height: 190px;
  margin-top: 10px;
  background-color: #004643;
  text-align: center;
  line-height: 200px;
  color: #fff;
  border-color: #0e172c;
  border-width: 10px;
  box-shadow: 0 0 10px #333;
  border-radius: 10px;
}

.panel5 {
  width: calc(28% - 40px);
  font-family: 'Courier New', monospace;
  height: 190px;
  margin-top: 10%;
  background-color: #004643;
  text-align: center;
  line-height: 200px;
  color: white;
  border-color: #0e172c;
  border-width: 10px;
  box-shadow: 0 0 10px #333;
  border-radius: 10px;
}

.panel4 {
  width: calc(28% - 40px);
  margin-top: -20%;
  border-color: #0e172c;
  border-width: 10px;
  font-family: 'Courier New', monospace;
  height: 575px;
  /* margin-top: 10px; */
  background-color: #004643;
  text-align: center;
  line-height: normal;
  color: #fff;
  box-shadow: 0 0 10px #333;
  border-radius: 10px;
}

.panel2 {
  width: calc(60% - 40px);
  font-family: 'Courier New', monospace;
  position:absolute;
  bottom:0px;
  height: 400px;
  margin: 40px;
  background-color: #64b35d;
  text-align: center;
  line-height: 200px;
  color: #fff;
  box-shadow: 0 0 10px #333;
  border-radius: 10px;
}

.panel3 {
  width: calc(35% - 40px);
  font-family: 'Courier New', monospace;
  height: 500px;
  position:absolute;
  right:0px;
  bottom:0px;
  /* height: 400px; */
  margin: 40px;
  background-color: #64b35d;
  text-align: center;
  line-height: 200px;
  color: #fff;
  box-shadow: 0 0 10px #333;
  border-radius: 10px;
}


.App {
  text-align: center;
  
}

.addButton {
  background-color: #55423d;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  font-family: 'Courier New', monospace;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.addButton:hover {
  background-color: #7d5f57;
}

.App-header {
  background-color: #232323;
  min-height: 100vh;
  font-family: 'Courier New', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.myModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  border: 1px solid #ccc;
  background: #fff;
  font-family: 'Courier New', monospace;
  overflow: auto;
  border-radius: 6px;
  outline: none;
  padding: 50px;
  
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(101, 90, 90, 0.75);
  opacity: 1;
} 

.inputBox {
  border-radius: 3px;
  width: 400px;
  height: 100px;
  font-family: 'Courier New', monospace;
  font-size: xx-large;
  overflow: auto;
}

.head6{
  font-size:24px;
  text-decoration: underline;
  padding-top: 15px;
  font-weight:400;
}

.head7{
  font-size:26px;
  text-decoration: underline;
  padding-top: 15px;
  font-weight:400;
}

.head8{
  font-size:26px;
  padding-top: 15px;
  text-decoration: underline;
  font-weight:400;
}

.width{
  width:60%;
  margin-top:15px;
  margin-left: 60px;
}

.Text {
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  
}

.SubmitButton {
  position: absolute;
  font-family: 'Courier New', monospace;
  left: 50%;
  transform: translate(-50%);
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  bottom: 0;
}

.test{
  color:white;
  /* line-height:normal; */
}

.SubmitButton:hover {
  background-color: darkblue;
}

.remove-event {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.my-event-height {
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  word-wrap: break-word;
  overflow: hidden;
  display:inline-block;
  width:100%;
}

.delete-button {
 line-height: 8px;
 text-align: center;
 background-color: rgb(255, 0, 0);
 color: white;
 padding: 10px 10px;
 font-family: 'Courier New', monospace;
 border-radius: 5px;
 cursor: pointer;
 font-size: 12px;

}

.delete-button:hover {
  background-color: darkblue;
  
}

.redtext {
  font-weight: bold ;
  color: white;
}
