.App {
  text-align: center;
  
}

.addButton {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.addButton:hover {
  background-color: darkblue;
}

.App-header {
  background-color: #ffffff00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.myModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 6px;
  outline: none;
  padding: 50px;
  
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(101, 90, 90, 0.75);
  opacity: 1;
} 

.inputBox {
  border-radius: 3px;
  width: 400px;
  height: 100px;
  font-size: xx-large;
  overflow: auto;
}

.Text {
  font-size: xx-large;
  font-weight: bold;
  
}

.SubmitButton {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

}

.SubmitButton:hover {
  background-color: darkblue;
}

.remove-event {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.my-event-height {
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  word-wrap: break-word;
  overflow: hidden;
  display:inline-block;
  width:100%;
}

.delete-button {
 line-height: 60px;
 text-align: center;
}




